# Visual Studio cache files
/ChmlFrp_Professional_Launcher/.vs
/.vs

# Rider cache files
/ChmlFrp_Professional_Launcher/.idea
/.idea

# Run the cache
/ChmlFrp_Professional_Launcher/obj
/ChmlFrp_Professional_Launcher/bin

